* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
}
.bodyinicio{
  background-image: url("https://wallpaperaccess.com/full/2076086.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}