
/*...... media querys...... */
  
         /* tablet */
@media screen and (max-width: 1024px){

/*inicio*/
    .header{
      /*height: 84%;*/
    }
    .header__container{
     flex-direction: row;
     }
     .navbar {
      display: none;
     }
     .main{
      padding: 2.3rem;
     }
     .main__h1{
     font-size: 5em;
     }
     .main__container{
      height: 79.9vh;
      padding-bottom: 75px;
      }
      .footer__texto{
        font-size: 15px
      }
      .inicio-grid{
        column-gap: 0.1rem;
      }
/*nosotros*/
     .nosotros-header{
      height: 90px;
    }
    .row{
      margin-right: 0px; 
      margin-left: 0px;
    }
    .nosotros-grid__items{
      padding: 27px;
    }
    .nosotros-grid__items video{
      width: 396px;
      height: 619px;
    }
     .nosotros-main__grid{
      display: flex;
    }
    .nosotros--texto{
      font-size: 18px;
    }
    
     .nosotros__h2{
      margin-left: 0px;
    }
    .nosotros__parrafo{
      margin-left: 0px;
      font-size: 23px;
    }
    .col-12{
      width: 100%;
      height: 100%;
    }
    .nosotros-main__container{
      height: 100%;
    }
    .nosotros-footer__texto{
    font-size: 15px
      }

/* productos */
   .productos-header{
      /*height: 83%;*/
    }
    .productos-header__container{
     flex-direction: row;
    }
    .productos-grid{
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, 309.9px);
     }
    .producto-footer__texto{
    font-size: 15px
      }
/* servicios*/
    .servicios-grid{
     grid-template-columns: 1fr;
     grid-template-rows: repeat(1, 617.9px);
    }
    .servicios__texto{
     margin-top: 20px;
     margin: 30px;
    }
    .servicio-footer__texto{
    font-size: 15px
      }
/* contactos*/
    .contactos-grid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 724.9px);
    }
    .contactos-grid__container img{
    height: 100vh;
    }
    .contacto-main{
    line-height: 35px;
    font-size: 27px;
   }
   .contactos-footer__texto{
    font-size: 15px
      }
}





        /* movil */
@media screen and (max-width: 600px) {

/*inicio*/
    .navbar{
      display: flex;
    }
    .header__container{
      flex-direction: column;
    }
    .navbar-brand{
      margin-right: 5em;
    }
    .header__logo{
      display: none;
    }
    .nav__lista{
      display: none;
    }
    .main{
      padding: 1.6rem;
     }
    .main__titulo{
      top: 55%;
      left: 50%;
    }
    .main__h1{
      font-size: 3em;
    }
    .main__h2{
      font-size: 1.5em;
    }
    .main__p{
      font-size: 1.4em;
    }
    .main__container{
      text-align: center;
    }
    .containervendidos{
      text-align: center;
    }
    .bestsellers {
    display: inline-block;
    }
    .vendidos{
      margin: 10px;
    }
    .card-body{
    padding: 3px;
    line-height: 13px;
    }
    .inicio-grid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 317.9px);
    column-gap: 0.1rem;
    row-gap: 0.1rem;
    padding-right: 40px;
    }
    .inicio-grid__container img {
     width: auto; 
     height: auto; 
    }
    .inicio-grid__container{
     height: 300px;
    }
    .overlay-inicio1 {
     height: 70%;
     }
    .overlay-inicio2 {
     height: 80%;
     }
    .overlay-inicio3 {
     height: 80%;
     }
/* productos */
    body {
    background-image: none;
    }
    .navbar{
      display: flex;
    }
    .productos-header__container{
      flex-direction: column;
    }
    .navbar-brand{
      margin-right: 5em;
    }
    .header-productos__logo{
      display: none;
    }
    .productos-nav__lista{
      display: none;
    }
    .containerproductos{
      text-align: center;
    }
    .containerproductos2{
      text-align: center;
    }
    .productos2 {
    display: inline-block;
    }
    .productostargetas{
     margin: 10px;
    }
    .card-productos{
    padding: 3px;
    line-height: 13px;
    }
/*nosotros*/
    .nosotros-header__lista{
      display: none;
    }
    .nosotros-header__container{
      flex-direction: column;
    }
    .empleado{
      margin-top: 20px;
      padding: 5px;
      font-size: 9px;
    }
    .col-6{
      padding: 2px;
    }
    .row{
      margin-right: 0px; 
      margin-left: 0px;
    }
    .nosotros-grid__items video{
      width: 380px;
    }
    .nosotros--texto{
      font-size: 15px;
    }
    .nosotros__parrafo{
      width: 216px;
      font-size: 19px;
    }


/* servicios*/
    /* header*/
    .servicios-header {
    height: 83.7px;
    }
    .navbar{
      display: flex;
    }
    .servicios-header__container{
      flex-direction: column;
    }
    .navbar-brand{
      margin-right: 5em;
    }
    .header-servicios__logo{
      display: none;
    }
    .servicios-nav__lista{
      display: none;
    }
    /*main*/
    .servicios__texto{
     margin-top: 10px;
     padding: 18px;
    }
    .servicios__h2{
      font-size: 40px;
      margin-bottom: 0px;
    }
    .servicios__p{
      font-size: 20px;
    }
    .subtitulo{
      font-size:23px;
    }
    .subtitulo2{
      font-size:23px;
    }
    div div p{
      margin-left: 0px;
      margin-bottom: 10px;
      font-size: 18px;
    }

/* contactos*/
    .contactos-nav__lista{
      display: none;
    }
    .contactos-header{
      height: 84px;
    }
    .contactos-header__container{
      flex-direction: column;
    }
    .navbar{
      display: flex;
    }
    .navbar-brand{
      margin-right: 5em;
    }
    .header-contactos__logo{
      display: none;
    }
    #carouselExampleControls {
    height: auto;
    }
    .contacto-main{
      font-size: 18px;
      padding: 9px;
      line-height: 30px;
    }
    .white:hover{
      width: 260px;
    }
    }

@media screen and (max-width: 320px){
/* contactos*/
    .contacto-main{
      font-size: 18px;
      padding: 2px;
      padding-top: 30px;

    }
    ol, ul {
    padding-left: 0rem; 
}
    .contacto__textarea{
      width: 237px;
    }
    .contacto__input {
    display: inline-block;
    width: 170px;
    height: 29px;
    margin-top: 10px;
}
/*nosotros*/
    .nosotros-grid__items video{
      width: 320px;
    }
    .nosotros--texto{
      font-size: 13px;
    }
/*servicios*/
    .servicios__texto{
     margin-top: 0px;
     padding: 3px;
    }
    .servicios__h2{
      font-size: 30px;
    }
    .servicios__p{
      font-size: 19px;
    }
    div div p{
      margin-left: 0px;
      margin-bottom: 10px;
      font-size: 17px;
    }

}