
/*..............Inicio................*/
  
  /* main */

.main{
  display: flex;
    padding: 0.5rem;
    position: relative;
   
}
.main__container{
   max-width: 1200px;
   margin: 0 auto;
   height: 91.3vh;
   flex-direction: column;
   padding-bottom: 125px;
   @include crearflex(center, center)  
}
.main__h1{
    font-size: 5em;
    font-weight: normal;
    color: #E6E6E6;
}
.main__h2{
    font-size: 2em;
    color: #191919;
} 
.main__p{
    font-size: 1.5em;
    font-weight: bold;
    color: #191919;
    border: 2px double #86CE05;
    outline: 1.5px solid black;
    outline-offset: -9px;
    padding: 8px 8px;
    margin: 5px;
    box-sizing: content-box;
}
  .main__p{
  animation-duration: 3.5s;
  animation-name: p;
  animation-iteration-count: infinite;
}

@keyframes p {
  0% {
    opacity: 0.9;
    color: black;
  }
  100% {
    opacity: 1;
    color: white;
  }
}
.containervendidos{
  position: relative;
  border-bottom: 4px solid #e9893a; 
  background-image: linear-gradient(to top, #f9f8f7, #f5eee8, #f1e5da, #eddbcc, #e9d1be);
}
.bestsellers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 7px;

}
.textosellers{
  font-size: 24px;
  text-align: center;
  padding: 2px;
  text-decoration: underline;
}
.vendidos{
   padding: 10px;
   height: 100%;
   border: 1px solid black;
}
.bestsellers-imagen{
   width: 250px;
   height: 250px;
}
.card-body{
  line-height: 8px;
  text-decoration: none;
  padding: 3px;
}
.boton{
  background-color: #351d15;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 6px;
}
/*.....ofertas.......*/
.inicio-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 317.9px);
  row-gap: 4rem;
  column-gap: 4rem;
  width: 100%;
  margin: 0rem auto;
  border-bottom: 3px solid #e9893a;
  padding: 50px;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  background-image: inear-gradient(to top, #f9f8f7, #f5eee8, #f1e5da, #eddbcc, #e9d1be);
}  
.inicio-grid__container img{
  width: 80%;
  height: 100%;
}

/* animacion */
/*.....imagen... 1 */
.overlay-inicio1{
  background-image: url("../assets/images/ofertas2.png");
  background-position: center;
   background-size: cover;
  height: 101%;
  opacity: 0;
  z-index: 1;
  overflow: hidden;
  transform: translate(0%, -100%);
  transition: 0.5s ease;
  position: relative;
}
.inicio-grid__container:hover .overlay-inicio1{
  opacity: 1;
}
.inicio-overlay__title1{
font-size: 25px;
text-align: center;
margin-top: 130px;
color: black;
}
/*.....imagen... 2 */
.overlay-inicio2{
  background-image: url("https://wallpaperaccess.com/full/2076086.jpg");
  background-position: center;
   background-size: cover;
  height: 101%;
  opacity: 0;
  z-index: 1;
  overflow: hidden;
  transform: translate(0%, -100%);
  transition: 0.5s ease;
  position: relative;
}
.inicio-grid__container:hover .overlay-inicio2{
  opacity: 1;
}
.inicio-overlay__title2{
font-size: 25px;
text-align: center;
margin-top: 160px;
color: black;
}
/*.....imagen... 3*/
.overlay-inicio3{
  background-image: url("../assets/images/ofertas4.png");
  background-position: center;
   background-size: cover;
  height: 101%;
  opacity: 0;
  z-index: 1;
  overflow: hidden;
  transform: translate(0%, -100%);
  transition: 0.5s ease;
  position: relative;
}
.inicio-grid__container:hover .overlay-inicio3{
  opacity: 1;
}
.inicio-overlay__title3{
font-size: 25px;
text-align: center;
margin-top: 160px;
color: white;
}



/*............... Contactos........... */
     /* main*/
.contactos-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 617.9px);
  row-gap: 0.3rem;
  column-gap: 0.3rem;
  width: 100%;
  margin: 0rem auto;
  border: 2.5px solid  white;
  cursor: pointer;
  background-position: center;
   background-size: cover;
} 
.contactos-grid__container img{
  width: 100%;
  height: 620px;

}
#carouselExampleControls{
  height: 100%;
}
.carousel-inner{
  height: 100%;
}
.carousel-inner img{
  
}
   /*formulario*/
.contacto-main{
   line-height: 25px;
   font-size: 25px;
   font-weight: normal;
   padding: 19.5px;
   text-align: center;
   border: 1.5px solid black;   
   margin: auto;
   color: white;

  background-image: url("https://wallpaperaccess.com/full/2076086.jpg");
  background-position: center;
  background-size: cover;
}
.white:hover{
      color: black;
      background-color: #FFFFFF;
      border-radius: 0.4em;
      width: 640px;
}
.contacto__texto a{
  color: black;
}
.contacto__li:hover i{ 
    color: #108040;
}
.contacto__li{
  list-style: none;
}
.contacto__formulario{
  box-sizing: border-box;
}
form label{ 
  display: inline-block;
  width: 100px;
}
.contacto__input{
  display: inline-block;
  width: 200px;
  height: 30px;
  margin-top: 10px;
}
.contacto__textarea{
  display: inline-block;
  width: 300px;
  height: 50px;
  margin-left: 50px;
  margin-top: 10px;
}
.contacto__bottom{
  margin-left: 50px;
}
.contacto__submit{
  border-color: #108040;
  border: 2px solid #108040;
  border-radius: 6px;
  line-height: 20px;
  font-size: 17px;
}
.contacto__restablecer{
   border-color: #108040;
   border: 2px solid #108040;
   border-radius: 6px;
   line-height: 20px;
   font-size: 17px;
}
     

/* ................Nosotros............ */
  /* main*/

.nosotros-grid__items{
  flex-direction: column;
  padding: 5px;
  
  @include crearflex(center, center)
}
.col-12fondo{
  background-image: url("https://wallpaperaccess.com/full/2076086.jpg");
  background-position: center;
  background-size: cover;
  /*background-image: linear-gradient(to bottom, #fbfaf4, #faf9f3, #f8f9f1, #f7f8f0, #f5f8ef, #ecf3e4, #e3edd9, #d9e8ce, #c6dcb7, #b3d09f, #a0c489, #8db872);*/
}

.empleado{
   padding: 10px;
   margin-top: 50px;
   height: 100%;
}
.empleado-imagen{
   width: 100px;
   height: 100px;
}
.btn {
  background-color: #095D15;
}
.nosotros__h2{
  font-size: 40px;
  margin-left: 10px;
  margin-top: 5px;
  padding-top: 5px;

}
.nosotros__parrafo{
  text-align:center; 
  margin-left: 10px;
}
.nosotros-grid__items video{
  width: 650px;
  height: 619px;
  object-fit: cover;
  object-position: top;
  padding: 10px;
}
 
     
/*............... Productos.......... */
     /* main*/ 

.containerproductos{
  border-bottom: 3px solid #e9893a; 
  background-image: linear-gradient(to bottom, #f9f8f7, #f5eee8, #f1e5da, #eddbcc, #e9d1be);
}
.containerproductos a{
  text-decoration: none;
  position: relative;
}
.containerproductos2{
  border-bottom: 3px solid #e9893a; 
  background-image: linear-gradient(to top, #f9f8f7, #f5eee8, #f1e5da, #eddbcc, #e9d1be);
}
.productos2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 7px;
}
.textoproductos{
  font-size: 24px;
  text-align: center;
  padding: 2px;
  text-decoration: underline;
  color: black;
  padding-top: 15px;
}
/*....no funciona....*/
.relative{
  position: relative;
 }
 div a::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 3px;
  background-color: #e9893a;
  transform: scalex(0);
  transform-origin: right;
  transition: transform 0.5s;  
}
div a :hover ::after {
  transform: scalex(1); 
  transform-origin: left;
}
.productostargetas{
   padding: 10px;
   height: 100%;
   border: 1px solid black;
}
.producto-imagen{
   width: 250px;
   height: 250px;
}
.card-productos{
  line-height: 8px;
  text-decoration: none;
  padding: 3px;
}
.boton-comprar{
  background-color: #351d15;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 6px;
}   


    
/* ..............Servicios............ */
     /* main*/
.servicios-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 617.9px);
  row-gap: 0.3rem;
  column-gap: 0.3rem;
  width: 100%;
  margin: 0rem auto;
  border: 2.5px solid white;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #f9f8f7, #f5eee8, #f1e5da, #eddbcc, #e9d1be);
  /*background-image: linear-gradient(#FF8964, #FFD993, #FFEECA);*/
} 
.servicios-grid__container img{
  width: 100%;
  height: 100%;
}
/* animacion */
.overlay-servicios{
  background-image: url("https://wallpaperaccess.com/full/2076086.jpg");
  background-position: center;
   background-size: cover;
  height: 101%;
  opacity: 0;
  z-index: 1;
  overflow: hidden;
  transform: translate(0%, -100%);
  transition: 0.5s ease;
  position: relative;
}
.servicios-grid__container:hover .overlay-servicios{
  opacity: 1;
}
.servicios-overlay__title{
font-size: 25px;
text-align: center;
margin-top: 200px;
}

.servicios-grid__container li{
  list-style: none;
}
.servicios__texto{
  text-align: center;
  height: auto;
  padding: 40px;
}
.servicios__h2{
  font-size: 45px;
  margin-bottom: 2px;
}
.servicios__p{
  font-size: 25px;
  height: auto;
  padding: 2px;
  text-decoration: none;
  margin-bottom: 0px;
  
}
.subtitulo{
  font-size: 30px;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #108040;

}
.subtitulo2{
  font-size: 30px;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #108040;
}

.containerservicios{
  border-bottom: 3px solid #e9893a; 
  background-image: linear-gradient(to bottom, #f9f8f7, #f5eee8, #f1e5da, #eddbcc, #e9d1be);
}
.containerproductos a{
  text-decoration: none;
  position: relative;
}
.servicios2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 7px;
}
.textoservicios{
  font-size: 24px;
  text-align: center;
  padding: 2px;
  text-decoration: underline;
  color: black;
  padding-top: 15px;
}
.serviciostargetas{
   padding: 10px;
   height: 100%;
   border: 1px solid black;
}
.servicio-imagen{
   width: 250px;
   height: 250px;
}
.card-productos{
  line-height: 8px;
  text-decoration: none;
  padding: 3px;
}
.boton-comprar{
  background-color: #351d15;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 6px;
}   











    