<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Productos</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../css/style.css">

		<link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;1,300;1,400&display=swap" rel="stylesheet">
		
	</head>
	<body>
		<div class="productos">
		<div class="productos__grid">
			
	<header class="productos-header">
			<!-- logotipo -->
	<nav>
		<div>
			<ul>
			 <li class="productos-header__li"><a href="../index.html">Inicio</a></li>
			<li class="productos-header__li"><a href="./productos.html">Productos</a></li>
			<li class="productos-header__li"><a href="./servicios.html">Servicios</a></li>
			<li class="productos-header__li"><a href="./contactos.html">Contactos</a></li>
			<li class="productos-header__li"><a href="./nosotros.html">Nosotros</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<main class="producto__main">
			
			<section class="producto__galeria">
				
				
					<ul class="producto__fotos">
				  <li class="fotos__li"><img src="../assets/images/galeria1.png" alt=""></li>
						<li class="fotos__li"><img src="../assets/images/galeria2.png" alt=""></li>
						
						<li class="fotos__li"><img src="../assets/images/galeria3.png"alt=""></li>
						
						<li class="fotos__li"><img src="../assets/images/galeria4.png" alt=""></li>
						
						<li class="fotos__li"><img src="../assets/images/galeria5.png" alt=""></li>
						<li><img src="" alt=""></li>
					</ul>
				</section>
		</main>
		
		<footer class="producto-footer">
		    <div class="producto-footer__texto">
				 <p>Derechos Reservados</p>
			 </div>
			<!-- formas de pago  -->
		     <div class="producto-footer__targetas"> 
				 <a class="producto__footer" href="https://visa.com" target="_blank"><img src="../assets/images/visa.png" alt="visa"></a>
				 <a class="producto__footer" href="https://mastercard.com" target="_blank"><img src="../assets/images/master.png" alt="mastercard"></a>
			</div>
		</footer> 
		</div>
		</div>
	</body>
</html>